.btn-virus-selector {
    width: 100%;
    background-color: #512DA8;
    color: #fff;
    border: 1px solid #512DA8;

    padding-top: 0;
    padding-bottom: 0;

    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    text-transform: uppercase;

    & p {
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
    }
}

.btn-virus-selector:hover, .btn-virus-selector:focus, .btn-virus-selector:active {
    background-color: #9575CD !important;
    border: 1px solid #9575CD;

    border-color: #9575CD !important;
    color: #fff !important;
}


.btn-virus-selector:focus {
    box-shadow: 0 0 0 0.2rem #9575CD;
}

.btn-start-game {
    @extend .btn-virus-selector;

    background-color: #C2185B;
    border: 1px solid #C2185B;

    width: 175px;
    height: 55px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-start-game:hover, .btn-start-game:focus, .btn-start-game:active {

    background-color: #EC407A !important;
    border: 1px solid #EC407A;
    border-color: #EC407A !important;

    color: #fff !important;
}

.btn-start-game:focus {
    box-shadow: 0 0 0 0.2rem #EC407A;
}

a.btn-navigation {
    line-height: 55px;
}
.btn-navigation {
    @extend .btn-virus-selector;

    background-color: #C2185B;
    border: 1px solid #C2185B;

    width: 175px;
    height: 55px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-navigation:hover, .btn-navigation:focus, .btn-navigation:active {

    background-color: #EC407A !important;
    border: 1px solid #EC407A;
    border-color: #EC407A !important;

    color: #fff !important;
}

.btn-navigation:focus {
    box-shadow: 0 0 0 0.2rem #EC407A;
}

