
.game-list-card {
    margin-bottom: 15px;

    & .game-list-card__button {
        width: 75%;
    }
}


.card-progress-bar {
    background-color: #03A9F4;

    display: none;
    background-size: 30px 30px;
    background-image: linear-gradient(
            135deg,
            rgba(255, 255, 255, .15) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .15) 50%,
            rgba(255, 255, 255, .15) 75%,
            transparent 75%,
            transparent
    );

    &.show {
        display: block;
    }

    padding: 0.25rem 1.25rem;
    animation: animate-stripes 1s linear infinite;
    border-radius: 0;
}

.card-timer-bar {
    background-color: #8BC34A;
    transition: all 0.3s linear;

    &[data-status="20"] {
        background-color: #8BC34A;
    }

    &[data-status="10"] {
        background-color: #CDDC39;
    }

    &[data-status="5"] {
        background-color: #FFC107;
    }

    &[data-status="3"] {
        background-color: #FF3D00;
    }

    display: none;
    background-size: 30px 30px;
    background-image: linear-gradient(
            135deg,
            rgba(255, 255, 255, .15) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .15) 50%,
            rgba(255, 255, 255, .15) 75%,
            transparent 75%,
            transparent
    );

    &.show {
        display: block;
    }

    padding: 0.25rem;
    animation: animate-stripes 1s linear infinite;
    border-radius: 0 !important;
}

@keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 60px 0;
    }
}
