.vertical-naming-cell {
    padding: 0;
    line-height: 70px;
    & p {
        margin-bottom: 0;
    }
}


.game-field-item {
    width: calc(100vw / 25);
    height: calc(100vw / 25);
}

.game-name-fields {
    &.top {
        width: calc(100vw / 25);
        height: calc(100vw / 35);
    }

    &.side {
        width: calc(100vw / 25);
        height: calc(100vw / 25);
    }
}
