#message-board-bottom {

    height: 110px;
    width: 100%;

    color: #F5F5F5;
    bottom: 0;
    position: fixed;


    transition: all 0.75s ease-in;

    &_header {
        height: 110px;

        & h4 {
            line-height: 110px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    &_body {
        height: 110px;

        & .virus-box {

            border: 1px solid #212121;
            height: 60px;
            width: 60px;
            float: left;
            margin-top: 25px;
        }
    }

    &.info {
        background-color: #1E88E5;
    }

    &.success {
        background-color: #7CB342;
    }

    &.danger {
        background-color: #e53935;
    }


    //helpers

    &.message-board-hidden {
        //display: none;
        bottom: -110px;
        transition: all 0.75s ease-out;
    }

}


.virus-left {
    text-align: center;
    font-weight: 900;
    font-size: 1.1rem;
}


.result-overflow {
    width: calc(100% - 30px);
    position: absolute;
    top: 30%;
    height: 150px;
    z-index: 1001;

    display: none;

    &.victory {
        display: block;
        background-color: rgba(124,179,66 ,0.8);
    }

    &.lost {
        display: block;
        background-color: rgba(229,57,53 ,0.8);
    }

    & h4 {
        text-align: center;
        font-size: 3.5rem;
        line-height: 150px;
        margin: 0;
        color: #fff;

        font-family: 'Squada One', cursive;
    }
}


#game-notification-holder {
    position: absolute;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 50px;
    z-index: 1001;

    display: none;

    &.positive {
        display: block;
        background-color: rgba(124, 179, 66, 0.8);
        transition: 0.6s all;
    }

    &.negative {
        display: block;
        background-color: rgba(229,57,53 ,0.8);
        transition: 0.6s all;
    }


    & h4 {
        text-align: center;
        line-height: 50px;
        margin: 0;
        color: #fff;

        font-family: 'Squada One', cursive;
    }

}
