.profile-wrapper {
    background: rgba(176,190,197 ,1);
    height: 100vh;
}


.profile-banner-container {

    margin-top: 25px;

    background-image: url('/images/banners/gameBanner.jpg');
    height: 120px;
    background-position:center;

    & h1 {
        text-align: center;
        font-size: 3.5rem;
        font-weight: 700;
        color: sandybrown;
    }
}


.profile-menu-box {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;

    padding-top: 7px;
    background-color: rgba(236,239,241 ,1);
    box-shadow: 1px 1px 3px 0px #212121;


    & .profile-menu-box__icon {
        font-size: 2rem;
        text-align: center;
        vertical-align: middle;

        & i.fas {
            vertical-align: middle;
        }
    }

    & .profile-menu-box__info {
        & h4 {
            margin-bottom: 0;
        }
    }
}


.profile-last-games-box {
    padding-top:7px;

    margin-top: 20px;
    background-color: rgba(236,239,241 ,1);
    box-shadow: 1px 1px 3px 0px #212121;
}

.winner {
    color: #56ab2f;
}

.looser {
    color: #c51f1a;
}

